@import "src/shared/css/colors"

.Button
  padding: 6px 12px
  background-color: $dark-blue
  border: 1px solid $light-blue
  color: $white
  border-radius: 3px
  cursor: pointer
  outline: none
  transition: all 0.25s ease-out

  &:hover
    background-color: $mid-blue
    border-color: $light-blue

.Full
  width: 100%
  padding: 12px

.Outlined
  background-color: $light-blue
  color: $dark-grey

  &:hover
    background-color: $mid-blue